@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline-style: none;  */
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: middle;
    border: 0;
}

a {
    text-decoration: none;
    color: #000;
}

/* 위쪽은 기본작업입니다. */

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', GmarketSansMedium, GmarketSansLight, GmarketSansBold, '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Sans-serif;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.6px;
}

/* 공통요소(재사용할 내용) */

.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.inner {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 1200px;

}

/* top ad */
.top-ad {
    position: relative;
    display: block;
    width: 100%;
    background-image: radial-gradient(circle at 50% 527%, #ff896a, #e23000 119%);
}

.top-ad .inner {
    position: relative;
    display: block;
    height: 70px;
}

.top-ad .inner a {
    position: relative;
    display: block;
    color: #fff;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
}

.ad-first {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    font-weight: 300;
}

.ad-first-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
}

.ad-first-exit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: block;
}

.material-icons {
    display: inline-block;
}

/* header */
.header {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    background-color: #000;
}

.header .inner {
    height: 100%;
    padding-top: 24px;
}

/* visual */
.visual {
    position: relative;
    display: block;
    height: 480px;
}

.visual-img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/main_firstgift_logout.29ecc8b.png) no-repeat center;
    background-size: cover;
}


/* event */
.event {
    position: relative;
    display: block;
    height: 300px;
}
.event .inner {
    height: 300px;
}
.sw-event {
    overflow: hidden;
}
.swiper-wrapper {
    width: 50%;
    float: left;
}
.swiper {
    width: 600px;
    height: 100%;
}
.swiper-slide-1 {
    background: url(../images/banner-slide2.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.swiper-slide-2 {
    background: url(../images/banner-slide3.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.event-free-coupon {
    display: block;
    background: url(../images/freshplan.9fe4775.png);
    background-size: contain;
    width: 50%;
    height: 100px;
    float: right;
}
/* best-items */

/* ad */

/* footer */