@charset 'utf-8';
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* reset */
*{
  margin: 0; padding: 0; box-sizing: border-box;
}
a{
  color: #333;
  text-decoration: none;
}
ul, li{
  list-style: none;
}
body{
  font-family: "Open Sans", GmarketSansMedium, GmarketSansLight, GmarketSansBold, '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Sans-serif;
}
img{
  vertical-align: top;
  
}

/* common */
.inner{
  width: 1400px;
  margin: 0 auto;
}
.clear::after{
  content: ''; display: block; clear: both;
}
.left{
  float: left;
}
.right{
  float: right;
}
h3{
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  font-family: "Open Sans", GmarketSansMedium, GmarketSansLight, GmarketSansBold, '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Sans-serif;
  margin-bottom: 25px;
}

/* header */
.header{
  width: 100%;
  background-color: #fff;
}
.header .inner{
  height: 90px;
  position: relative;
}
.header h1{
  padding: 21px 0 23px;
}
.gnb{
  position: absolute;
  top: 0px;
  left: 255px;
}
.gnb li{
  position: relative;
  float: left;

}
.gnb > li >a{
  display: block;
  font-size: 19px;
  line-height: 60px;
  height: 60px;
  margin: 20px 0 5px 0;
  padding: 0 15px;
}
.gnb > li >a:hover{
  color: #2578DE;
}
/* 수정메뉴 */
.sub-div {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  pointer-events: none;
}
.sub-menu {
  position: relative;
  top: 30px;
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow: 0px 0px 10px rgba(255,255,255,0.08);
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
  transition: all .5s;
  z-index: 9;
}
.gnb > li:hover .sub-menu {
  opacity: 1;
  top: 10px;
  pointer-events: auto;
}
.gnb > li .sub-menu > li > a:hover {
  color: #337ab7;
}
.sub-menu > li {
  border-top: 1px solid #eaeaea;
  background-color: #fff;

}
.sub-menu > li a {
  display: block;
  width: 180px;
  padding: 12px 15px;
  font-family: "Open Sans", GmarketSansMedium, GmarketSansLight, GmarketSansBold, '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Sans-serif;
  font-size: 14.4px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  word-break: keep-all;
}
/* .sub-div {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 3px;
  pointer-events: none;
  
} */
/* .sub-menu {
  position: relative;
  top: 30px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, .4);
  opacity: 0;
  transition: all .5s;
  pointer-events: none;
}
.gnb > li:hover > .sub-div .sub-menu {
  opacity: 1;
  top: 0;
  pointer-events: auto;
}
 .sub-menu > li{
  border-top: 1px solid #eaeaea;
}
 .sub-menu > li a {
  display: block;
  width: 180px;
  padding: 12px 15px;
  font-size: 14.4px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  word-break: keep-all;
}
.sub-menu li a:hover{
  color: #337ab7;
  
} */

.gnb-util{
  position: absolute;
  right: 0;
  top: 28px;
}
.gnb-util .gnb-wrap{}
.gnb-util .gnb-wrap > li{
  float: left;
  margin: 10px;
}
.gnb-util .gnb-wrap > li >a {
  display: block;
  font-family: GmarketSanslight;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #666;
}
.gnb-util .all-menu {
  margin-left: 14px;
}
/* visual */
.visual{
  width: 100%;
}
.visual img {
  width: 100%;
}

/* quick_menu */
.quick_menu{
  width: 100%;
  background-color: #f2f4f7;
}
.quick_menu .inner{
  height: 110px;
}
.quick_menu ul{}
.quick_menu ul li{
  float: left;
  width: 20%;
  height: 84px;
  margin: 15px 0 11px 0;
  border-right: 1px solid #d9dbde;
}
.quick_menu ul li:last-child{
  border: 0;
}
.quick_menu ul li a{
  display: block;
  font-size: 17px;
  line-height: 84px;
  padding-left: 75px;
  text-align: center;
  transform: translateX(0);
  transition: transform .5s;
}

.quick_menu ul li a:hover {
  transform: translateX(-10px);
}
.quick_menu ul li:nth-child(1) a{
  background: url('../image/img_icon01.svg')
  no-repeat 53px 11px;
  background-size: 56px;
}

.quick_menu ul li:nth-child(2) a{
  background: url('../image/img_icon02.svg')
  no-repeat 66px 11px;
  background-size: 56px;
}

.quick_menu ul li:nth-child(3) a{
  background: url('../image/img_icon03.svg')
  no-repeat 63px 11px ;
  background-size: 56px;
}

.quick_menu ul li:nth-child(4) a{
  background: url('../image/img_icon04_new.png')
  no-repeat 52px 11px;
  background-size: 56px;
}

.quick_menu ul li:nth-child(5) a{
  background: url('../image/img_icon05_new.png')
  no-repeat 67px 11px;
  background-size: 56px;
}
/* notice */
.notice{
  margin: 70px 0 60px 0;
}
.notice .notice-left{
  width: 470px;
  height: 372px;
  border: 1px solid #e6e8eb;
  margin-right: 20px;
  padding: 36px 30px;
  position: relative;
}
.notice .notice-left h3{
  padding-bottom: 20px;
  margin-bottom: 25px;
  color: #0e62b2;
  background: url('../images/img_bg_line.png') repeat-x left bottom;
}
.notice .notice-left ul li{
  border-bottom: 1px solid #e6e6e6;
  padding: 14px 0;
  overflow: hidden;
}
.notice .notice-left ul li:last-child{
  border: 0;
}
.notice .notice-left ul li a{
  display: block;
  float: left;
  width: 271px;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  color: #444;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.notice .notice-left ul li span{
  float: right;
  width: 85px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #444;
  cursor: pointer;
  text-align: end;
}
.notice-more{
  position: absolute;
  top: 40px; right: 30px;
  padding-left: 22px;
  background: url('../images/plus.jpg')
  no-repeat left center;
}

/* calendar */

.notice .notice-right{
  position: relative;
  width: 392px;
  height: 372px;
  padding: 36px 30px;
  border: 1px solid #e6e8eb;
  margin-left: 15px;
}
.notice .notice-right h3{
  color: #0e62b2;
  padding-left: 10px;
  margin-bottom: 14px;
}
.notice .notice-right .cal-top{
  text-align: center;
  font-size: 22px;
  margin: 0 3px 10px;
  font-weight: 700;
  line-height: 33px;
}
.notice .notice-right .cal-top .prev-month{
  display: block;
  width: 34px; height: 34px;
  border: 1px solid #e6e8eb;
  font-size: 0;
  text-indent: -9999px;
  background: url(../image/img_arrow01.svg)no-repeat 50% 50%;
  background-size: 6px 10px;
}
.notice .notice-right .cal-top .next-month{
  display: block;
  width: 34px; height: 34px;
  border: 1px solid #e6e8eb;
  font-size: 0;
  text-indent: -9999px;
  background: url(../image/img_arrow01.svg)no-repeat 50% 50%;
  background-size: 6px 10px;
  transform: rotate(180deg);
}
.notice .notice-right .cal-table{

}
.cal-table .calendar{
  width: 100%;
  border-collapse: collapse;
}
.cal-table .calendar thead tr{
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.cal-table .calendar thead tr th{
  font-size: 15px;
  padding: 5px 0px;
  background-color: #fff;
  line-height: 22.5px;
  font-weight: 400;
}
.cal-table .calendar tbody::before{
  content: '@';
  display: block;
  text-indent: -9999px;
  line-height: 5px;
}
.cal-table .calendar tbody tr{}
.cal-table .calendar tbody tr td{
}
.cal-table .calendar tbody tr td span{
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  margin: 2px auto;
  background-color: #f7f7f7;
}
.sun{
  color: #ff3333;
}
.sat{
  color: #0062b1;
}
.today{
  color: white;
  background-color: #2c3035 !important;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
}

/* gallery */
.gallery{
  width: 100%;
  background:url(../image/img_bottombg.jpg) no-repeat ;
  background-size: cover;
}
.gallery .inner{
  height: 548px;
  padding: 70px 0 90px 0; 
}

.act-gallery {
  position: relative;
  width: 940px;
}
.act-gallery h3, .clip-gallery h3{
  color: #fff;
  font-size: 22px;
  margin-bottom: 25px;
}
.act-gallery .gallery-box{
  background-color: #fff;
  width: 300px;
  margin-right: 20px;
  position: relative;
}
.act-gallery .gallery-box.last-child{
  margin-right: 0;
}
.act-gallery .gallery-box .gallery-card::after{
content: '';
display: block;
position: absolute;
top: 0;
left: 0;
width: 300px;
height: 195px;
background: rgba(0, 0, 0, 0);
transition: all 0.5s ease-out ;
}
.act-gallery .gallery-box:hover .gallery-card::after{
  background: rgba(0, 0, 0, 0.4);
}
.act-gallery .gallery-box:hover{
  box-shadow: 15px 15px 34px rgb(0 0 0 / 28%);
}

.act-gallery .gallery-box .gallery-card .gallery-pic img{
  width: 300px;
  height: 195px;
  object-fit: cover;
}
.act-gallery .gallery-box .gallery-card p {
  padding: 25px 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.act-gallery .gallery-box .gallery-card span {
  padding: 0 15px 15px;
  display: block;
  text-align: center;
  font-size: 15px;
  color: #5f5f5f;
  line-height: 22.5px;
}
.gallery-more {
  position: absolute;
  top: 5px;
  right: 0;
  padding-left: 22px;
  font-size: 15px;
  /* background: url(../image/white_plus.png)no-repeat; */
  color: #fff;
}
.gallery-more2 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  right: 0px;
  padding-left: 22px;
  font-size: 15px;
  color: #fff;
}
.w-plus {
  /* color: #fff; */
  display: block;
  width: 100px;
  height: 100px;
  font-size: 14px;
  position: absolute;
  left: 4px;
  top: 1px;
  font-weight: bold;
}
.w-plus2 {
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: 40px;
  top: 10px;
  font-weight: bold;
}
.clip-gallery {
  width: 400px;
  position: relative;
}
.clip {
  width: 400px;
  overflow: hidden;
}
.gallery-more {
  position: absolute;
  top: 5px;
  right: 0;
  padding: 0 0 0 22px;
  background: url(../image/white_plus.png)no-repeat 0% 50%;
  color: #fff;
  font-size: 15px;
}
.clip-gallery .gallery-more {
  position: absolute;
  top: 5px;
  right: 0;
  background: url(../image/white_plus.png)no-repeat left center;
}
/* banner  */
.banner {
  width: 100%;
  height: 107px;
  background-color: #f6f6f6;
}
.banner .inner {
  height: 100%;
}
.banner .banner-control {
  height: 25px;
  width: 167px;
  padding: 41px 0;
}
.banner .banner-control h3{
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  float: left;
}
.banner .banner-control-box {
  float: right;
  width: 72px;
  height: 25px;
}
.banner .banner-control-box ul{
  overflow: hidden;
}
.banner .banner-control-box ul li{
  float: left;
  width: 24px;
  height: 25px;
  border: 1px solid #ececec;
}
.banner .banner-control-box .banner-back {
  background: url(../image/img_banner_prev.png)no-repeat center;
}
.banner .banner-control-box .banner-forward {
  background: url(../image/img_banner_prev.png)no-repeat center;
  transform: rotate(180deg);
}
.banner .banner-control-box .banner-play {
  background: url(../image/img_banner_play.png);
}

/* banner slide */
.sw-banner {
  width: 1182px;
  margin: 25px 0;
}
.sw-banner .swiper-slide {
  float: left;
  width: 184px;
  height: 57px;
  border: 1px solid #e9e9e9;
  margin-right: 14px;
}
.sw-banner .swiper-slide:nth-child(6){
  margin-right: 0;
}

/* footer */
.footer {
  background: url(../image/footer-line.jpg) center;
}
.footer-top {
  height: 162px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.04)
}
.footer-top .inner{
  position: relative;
  padding: 15px 0 30px;
}
.footer-top .btns{
  padding: 15px 0 10px;
}
.footer-top .btns .btn {
  display: inline-block;
  padding: 4px 10px;;
  font-size: 13px;
  margin-right: 13px;
  background-color: transparent;
  border: 1px solid rgba(238,238,238,0.2);
  color: #888;
  border-radius: 4px;
  font-family: "Open Sans", GmarketSansMedium, GmarketSansLight, GmarketSansBold, '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Sans-serif;;
}
.footer-top .btns .btn:hover {
  background-color: rgba(255,255,255,0.08);
  transition: all 0.5s ease 0s;
}
.footer-top span{
  margin-top: 7px;
  font-size: 14px;
  color: #888;
  line-height: 21px;
}
.footer-top span em{
  color: #555;
  font-style: normal;
}
.gotop{
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  z-index: 99;
  background-color: #f74141;
  border-radius: 4px;
  text-indent: -9999px;
}
.footer-top .gotop::after {
  content: 'none';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 6px;
  height: 10px;
  background: url(../image/img_arrow04.svg)no-repeat;
}
.footer-bottom{
  height: 82px;
}
.footer-bottom .inner {
  padding: 30px 0;
}
.footer-bottom p {
  font-size: 14px;
  color: #888;
  line-height: 21px;
}
