* {
  margin: 0;
  padding: 0;
  box-sizing: border-size;
}

ol, ul {
  list-style: none;
}

img{
  display: block;
  
}

a {
  color: #333;
  text-decoration: none;
}

h1 {
  background: yellow;
  color: red;
}

p {
  background: forestgreen !important;
}

p {
  background: chocolate;
}

#desc2 {
  background: yellow;
}

.desc1 {
  background: brown;
  font-family: Arial,sans-serif
}

/* 부모태그 + 자식태그임으로 우선순위를 준다 */
ul li {
  color: blue;
}

li{
  color: red;
  font-weight: bold;
  font-family: 'Blaka', cursive;
}



/* 
css 우선순위
타입 < 클래스 < id < inline< !important이다!!
* < tag < class < id < inline style < !important
*/