p {
  font-family:'Courier New', Courier, monospace
}
.webfont{
  font-family: 'Palette Mosaic', cursive;
}
.webfont1{
  font-family: 'Fira Sans', sans-serif;
}
.webfont2{
  font-family: 'Blaka Hollow', cursive;
}