/* 리셋 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
/* 공통영역 */
a {
  display: inline;
}
.wrap {
  width: 1970px;
}
.clear {
  content: "";
  display: block;
  clear: both;
}
/* 헤더영역 */
.header {
  width: 1200px;
  margin: 0 auto;
}
.logo > a {
  display: inline-block;
  background: url(../거제청년images/logo.png);
  height: 60px;
  width: 120px;
}
.geoje_img {
  display: inline;
}
.nav_bar {
  width: 1160px;
  height: 30px;
}
.nav_bar_title > li {
  float: left;
}
/* 비쥬얼영역 */

/* 메인영역 */

/* 퀵메뉴영역 */

/* 노티스영역 */

/* 갤러리영역 */

/* 배너영역 */

/* 푸터영역 */
