@charset 'utf-8';

html{
  font-size: 10px;
}
/* body{
  font-size: 2rem;
  background-color: lightgreen;
  border: 3px solid red
} */
p{
  /* border: 4px solid black; */
  color: black;
}
div{
  /* border: 4px solid blue; */
  color: red;
}

.p1{
  font-size: 4rem;
}
.p2{
  font-size: 2rem;
}
.div1{
  font-size: 4rem;
}
.p3{
  font-size: 8rem;
}
.p4{
  font-size: 2rem;
}
.div2{
  font-size: 8rem;
}
.p5{
  font-size: 16rem;
}
.p6{
  font-size: 2rem;
}