@charset 'utf-8';
.desc {
  border: 5px dotted #222;
  background-color: #ffd9a0;
  width: 350px;
  padding: 20px;
  float: left;
}
#clip-border {
  background-clip: border-box;
}
#clip-padding {
  background-clip: padding-box;
}
#clip-content {
  background-clip: content-box;
}