@charset 'utf-8';
/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  vertical-align: top;
}

/* common */
.clear::after{
  content: '';
  display: block;
  clear: both;
}

/* body */
.cover {
  padding: 20px 60px 0;
}

.column {
  width: 25%;
  min-width: 400px;
  float: left;
  /* background-color: darkcyan; */
}
.wrapper {
  /* background-color: coral; */
  margin: 10px;
  padding: 10px;
}
.wrapper img {
  max-width: 100%;
  box-shadow: 5px 5px 10px #333;
  border-radius: 15px;
}
