@charset 'utf-8';
/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  vertical-align: top;
}

/* common */
.clear::after {
  content: '';
  display: block;
  clear: both;
}
.left {
  float: left;
}

/* header */
.header {
  width: 100%;
  height: 100px;
  background-color: blue;
}
.container {
  width: 1380px;
  height: 900px;
  margin: 0 auto;
  background-color: red;
  padding: 20px;
  margin-bottom: 50px;
}
/* left-side 200*/
.left-side{
  width: 200px;
  height: 860px;
  background-color: #333;
}
.left-b-box {
  width: 100%;
  height: 710px;
  background-color: #333;
}
.left-r-box{
  width: 100%;
  height: 150px;
  background-color: darkred;
}
/* center 900 */
.center {
  width: 900px;
  height: 860px;
  margin: 0 20px;
}
.c-lb-box {
  display: inline-block;
  width: 100%;
  height: 600px;
  background-color: lightblue;
}
.c-lg-t-box {
  width: 100%;
  height: 30px;
  background-color: lightseagreen;
}
.c-br-box {
  width: 100%;
  height: 200px;
  background-color: burlywood;
}
.c-lg-b-box{
  width: 100%;
  height: 30px;
  background-color: lightseagreen;
}

/* right-side 200*/
.right-side {
  width: 200px;
  height: 860px;
}

.r-r-box {
  width: 100%;
  height: 430px;
  background-color: darkred;
}
.r-p-box {
  width: 100%;
  height: 30px;
  background-color: pink;
}
.r-g-box{
  width: 100%;
  height: 380px;
  background-color: darkcyan;
}
.r-p-b-box {
  width: 100%;
  height: 20px;
  background-color: pink;
}

/* footer */
.footer {
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  width: 100%;
  height: 100px;
  background-color: black;
}