@charset 'utf-8';
/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

/* common */
body {
  font-family: "Open Sans", GmarketSansMedium, GmarketSansLight, GmarketSansBold,
    "맑은 고딕", "돋움", Dotum, "굴림", Gulim, Sans-serif;
}
.inner {
  width: 1400px;
  margin: 0 auto;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
/* header */
.header {
  width: 100%;
  background-color: #fff;
}
.header .inner {
  height: 98px;
  position: relative;
}
.header h1 {
  padding: 21px 0 23px;
}
.gnb {
  position: absolute;
  top: 0px;
  left: 255px;
}
.gnb > li {
  float: left;
}
.gnb > li > a {
  display: block;
  font-size: 19px;
  line-height: 60px;
  height: 60px;
  margin: 20px 0 5px 0;
  padding: 0 15px;
}
.gnb > li > a:hover {
  color: #2578de;
}
.gnb-util {
  position: absolute;
  right: 0;
  top: 28px;
  float: left;
  line-height: 45px;
}
.gnb-util .gnb-wrap > li {
  float: left;
  margin-right: 15px;
  margin: 14px;
}
.gnb-util .gnb-wrap > li > a {
  display: block;
  font-family: GmarketSansLight;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #666;
}
.gnb-menu {
  margin-left: 10px;
}
.inr {
  position: relative;
  background: url(../image/img_sub_visual02.jpg) no-repeat;
  background-size: cover;
  width: 95%;
  height: 350px;
  margin: 0 auto;
  border-radius: 10px;
  border-bottom: rgb(227, 227, 227);
  box-shadow: 0px 2px 15px rgb(0 0 0 / 8%);
}
.inr-wrap {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 70px;
}
.lnb {
  width: 1000px;
  height: 30px;
  margin: 0 auto;
  margin-top: 25px;

}
.lnb li{
  float: left;
  margin-right: 50px;
}
.lnb li:last-child{
  margin-right: 0;
}

.lnb li > a {
  font-size: 16px;
  text-align: center;
  color: #888;
}
/* main content */
.container {
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
}
.title-wrap {
  width: 100%;
  height: 250px;
  text-align: center;
  line-height: 250px;
  border-bottom: 1px solid#dddddd;
}
.title-wrap > h2 {
  font-size: 30px;
  font-weight: 400;
}

/* images */
.img-content-wrap .content-colum {
  padding: 20px;
  margin-left: 30px;
}
.img-content-wrap .content-colum .img-list img{
  display: block;
  width: 300px;
  height: 300px;
}








/* footer */
.footer {
  background: url(../image/footer-line.jpg) center;
}
.footer-top {
  height: 162px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.04)
}
.footer-top .inner{
  padding: 15px 0 30px;
}
.footer-top .btns{
  padding: 15px 0 10px;
}
.footer-top .btns .btn {
  display: inline-block;
  padding: 4px 10px;;
  font-size: 13px;
  margin-right: 13px;
  background-color: transparent;
  border: 1px solid rgba(238,238,238,0.2);
  color: #888;
  border-radius: 4px;
  font-family: "Open Sans", GmarketSansMedium, GmarketSansLight, GmarketSansBold, '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Sans-serif;;
}
.footer-top .btns .btn:hover {
  background-color: rgba(255,255,255,0.08);
  transition: all 0.5s ease 0s;
}
.footer-top span{
  margin-top: 7px;
  font-size: 14px;
  color: #888;
  line-height: 21px;
}
.footer-top span em{
  color: #555;
  font-style: normal;
}
.footer-bottom{
  height: 82px;
}
.footer-bottom .inner {
  padding: 30px 0;
}
.footer-bottom p {
  font-size: 14px;
  color: #888;
  line-height: 21px;
}
